{{#partial "content"}}

<h1>Place list!</h1>

{{#if places}}
    {{#each places}}
        <p>Current place:</p>
        <p>{{ name }} <a href="/places/{{id}}">read more...</a></p>
    {{/each}}
{{else}}
<p>No posts!</p>
{{/if}}
{{/partial}}

{{> layout.hbs}}